HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


!**/resources/**/
application.properties
!**/resources/**/
log4j.properties
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/log
/logger

