<!-- Content Tittle -->
<div th:fragment="tittle(val)" class="row mx-auto mb-3">
    <div class="col text-center">
        <h2 th:text="${val}" class="ms-3 text-uppercase"></h2>
    </div>
</div>

<!-- Action Menu -->
<div th:fragment="action-menu(action)" class="row">
    <!-- Create new Button -->
    <div class="col">
        <div class="me-3 d-grid gap-2 d-flex">
            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#createModal">
                <lord-icon
                    src="https://cdn.lordicon.com/diyeocup.json"
                    trigger="morph"
                    colors="primary:#ffffff"
                    style="width:25px;height:25px">
                </lord-icon>
                Create New Reservations
            </button>
        </div>
    </div>
    <!-- Search -->
    <div class="col">
        <form th:action="@{/crud/__${action}__/1}">
            <div class="col-5 input-group mb-3">
                <input th:if="${searchby != null}" type="text" class="form-control" placeholder="Search by username" aria-label="Recipient's username" th:name="searchby" th:value="${searchby}" aria-describedby="button-addon2">
                <input th:unless="${searchby != null}" type="text" class="form-control" placeholder="Search by username" aria-label="Recipient's username" th:name="searchby" aria-describedby="button-addon2">
                <button class="btn btn-outline-light border border-secondary text-white" type="submit" id="button-addon2">
                    <lord-icon
                        src="https://cdn.lordicon.com/pvbutfdk.json"
                        trigger="morph"
                        style="width:32px;height:32px">
                    </lord-icon>
                </button>
            </div>
        </form>
    </div>
    <!-- Additional Fungtion -->
    <div class="col">
        <div class="d-grid gap-3 d-flex justify-content-end">
            <!-- Reset -->
            <a class="btn btn-secondary" th:href="@{__${reset}__}" type="button">
                <lord-icon
                    src="https://cdn.lordicon.com/sihdhmit.json"
                    trigger="morph"
                    colors="primary:#ffffff"
                    style="width:25px;height:25px">
                </lord-icon>
            </a>
            <!-- Save to PDF -->
            <button class="btn btn-success" type="button" onclick="printJS({
                printable: 'content-table',
                type: 'html',
                targetStyles: ['*']})">
                <lord-icon
                    src="https://cdn.lordicon.com/biwxmlnf.json"
                    trigger="morph"
                    colors="primary:#ffffff"
                    style="width:25px;height:25px">
                </lord-icon>
                Save PDF
            </button>
        </div>
    </div>
</div>

<!-- Table -->
<div th:fragment="table(head, data, loop, entity, id)" class="row overflow-auto my-3 rounded rounded-2 table-responsive" style="max-height: 400px;">
    <table class="table table-light table-sm table-striped table-hover align-middle table-bordered">
        <thead class="bg-dark" style="position: sticky; top: 0; z-index: 6;">
            <tr>
                <th:block th:include="${head}" />
                <th class="text-center" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="${loop}, iter : ${entity}">
                <tr>
                    <th:block th:include="${data}" />
                    <td class="text-center">
                        <a type="button" class="btn btn-light border border-secondary" data-bs-toggle="modal" th:attr="data-bs-target='#editModal'+${__${loop}__.__${id}__}">
                            <lord-icon
                                src="https://cdn.lordicon.com/ryyjawhw.json"
                                trigger="morph"
                                style="width:25px;height:25px;">
                            </lord-icon>
                        </a>
                        <a type="button" class="btn btn-light border border-secondary" data-bs-toggle="modal" th:attr="data-bs-target='#deleteModal'+${__${loop}__.__${id}__}">
                            <lord-icon
                                src="https://cdn.lordicon.com/qsloqzpf.json"
                                trigger="morph"
                                colors="primary:#ff0303"
                                style="width:25px;height:25px">
                            </lord-icon>
                        </a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>

<!-- Sorting -->
<th:block th:fragment="sort(sorting, action)">
    <a th:if="${searchbby != null}" class="btn btn-sm btn-outline-dark border-0" th:href="@{/crud/__${action}__/1?searchby=__${searchby}__&sortby=__${sorting}__&order=ascending}">&#9650</a>
    <a th:unless="${searchbby != null}" class="btn btn-sm btn-outline-dark border-0" th:href="@{/crud/__${action}__/1?sortby=__${sorting}__&order=ascending}">&#9650</a>
    <a th:if="${searchbby != null}" class="btn btn-sm btn-outline-dark border-0" th:href="@{/crud/__${action}__/1?searchby=__${searchby}__&sortby=__${sorting}__&order=descending}">&#9660</a>
    <a th:unless="${searchbby != null}" class="btn btn-sm btn-outline-dark border-0" th:href="@{/crud/__${action}__/1?sortby=__${sorting}__&order=descending}">&#9660</a>
</th:block>

<!-- Pagination -->
<nav th:fragment="pagination(action)" th:if="${totalPages > 1}" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li th:if="${currentPage <= 1}" class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li th:if="${currentPage > 1}" class="page-item">
            <a th:href="@{${currentPage - 1}}" class="page-link">Previous</a>
        </li>
        <div th:each="i : ${#numbers.sequence(1, totalPages)}">
            <li th:if="${currentPage == i}" class="page-item active">
                <span class="page-link">[[${i}]]</span>
            </li>
            <li th:unless="${currentPage == i}" class="page-item">
                <a th:if="${searchby != null && sortby == null}" class="page-link" th:href="@{/crud/__${action}__/__${i}__/?searchby=__${searchby}__}">[[${i}]]</a>
                <a th:if="${searchby == null && sortby != null}" class="page-link" th:href="@{/crud/__${action}__/__${i}__/?sortby=__${sortby}__&order=__${order}__}">[[${i}]]</a>
                <a th:if="${searchby != null && sortby != null}" class="page-link" th:href="@{/crud/__${action}__/__${i}__/?searchby=__${searchby}__&sortby=__${sortby}__&order=__${order}__}">[[${i}]]</a>
                <a th:if="${searchby == null && sortby == null}" class="page-link" th:href="@{${i}}">[[${i}]]</a>
            </li>
        </div>
        <li th:if="${currentPage < totalPages}" class="page-item">
            <a class="page-link" th:href="@{${currentPage + 1}}">Next</a>
        </li>
        <li th:unless="${currentPage < totalPages}" class="page-item disabled">
            <a class="page-link">Next</a>
        </li>
    </ul>
</nav>