<!-- Edit Modal -->
<th:block th:fragment="edit(tittle, form, loop, entity, id)" th:each="${loop}, iter : ${entity}" th:object="${__${loop}__}">
    <div class="modal fade" th:attr="id='editModal'+*{__${id}__}" tabindex="-1" aria-labelledby="editModal+*{__${id}__}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="${tittle}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <th:block th:replace="${form}"></th:block>
            </div>
        </div>
    </div>
</th:block>

<!-- Delete Modal -->
<th:block th:fragment="delete(tittle, form, loop, entity, id)" th:each="${loop}, iter : ${entity}" th:object="${__${loop}__}">
    <div class="modal fade" th:attr="id='deleteModal'+*{__${id}__}" tabindex="-1" aria-labelledby="deleteModal*{__${id}__}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="${tittle}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <th:block th:replace="${form}"></th:block>
            </div>
        </div>
    </div>
</th:block>

<!-- Create New User Modal -->
<th:block th:fragment="create(tittle, form)">
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="${tittle}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <th:block th:replace="${form}"></th:block>
            </div>
        </div>
    </div>
</th:block>

<!-- Get By Id Modal -->
<th:block th:fragment="get(tittle, form, loop, entity, id)" th:each="${loop} : ${entity}" th:object="${__${loop}__}">
    <div class="modal fade" th:attr="id='showModal'+*{__${id}__}" tabindex="-1" aria-labelledby="'showModal'*{__${id}__}+'Label'" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="${tittle}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <th:block th:replace="${form}"></th:block>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

