<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: common(~{::title},~{})">
        <title>Bioskop | Films CRUD</title>
    </head>
    <body>
    <div th:replace="fragments/navigation :: main"></div>
    <div class="container">

        <!-- Content -->
        <div class="d-flex border px-5 rounded my-3" style="background-color: #ededed;">
            <div class="col mt-3 mx-auto">
                <!-- Tittle -->
                <div th:replace="fragments/content :: tittle('Films')">
                </div>

                <!-- Action menu -->
                <div th:replace="fragments/content :: action-menu(~{::li})">
                    <li><a class="dropdown-item" href="#">Film Code</a></li>
                    <li><a class="dropdown-item" href="#">Film Name</a></li>
                    <li><a class="dropdown-item" href="#">Playing</a></li>
                </div>

                <!-- Tables -->
                <div th:replace="fragments/content :: table(head=~{this::#table-head}, data=~{::#data}, loop='film', entity=${films}, id='filmCode')" th:with="id=${film.filmCode}" th:remove="tag">
                    <div id="table-head">
                        <th class="text-center" scope="col">No.</th>
                        <th class="text-center" scope="col">Film Code</th>
                        <th class="text-center" scope="col">Film Name</th>
                        <th class="text-center" scope="col">Seat</th>
                        <th class="text-center" scope="col">Playing</th>
                    </div>

                    <div id="data">
                        <th scope="row" th:text="${iter.index + 1}"></th>
                        <td th:text="${film.filmCode}">
                            <!-- <a class="text-lowercase text-dark" style="text-decoration:none;" th:href="'#showModal'+${film.filmCode}" th:text="${film.filmName}" data-bs-toggle="modal" th:attr="data-bs-target='#showModal'+${film.filmCode}"></a> -->
                        </td>
                        <td th:text="${film.filmName}"></td>
                        <td th:text="${film.seatId.seatId}"></td>
                        <td th:text="${film.isPlaying} ? 'Tayang' : 'Tidak Tayang'"></td>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals -->

        <!-- Edit Modal -->
        <div th:replace="fragments/modal :: edit(tittle='Edit Film', form=~{this::#edit-form}, loop='film', entity=${films}, id='filmCode')">
            <th:block id="edit-form">
                <form th:method="PUT" th:action="@{/update/film/} + ${film.filmCode}" th:object="${updateFilm}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail" class="form-label">Film Code</label>
                            <input type="text" class="form-control" aria-describedby="filmNameHelp" th:attr="id='filmName'+${film.filmCode}" th:name="filmCode" th:value="${film.filmCode}">
                            <div id="emailHelp" class="form-text">film code must be unique.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Seat Id</label>
                            <input type="textl" class="form-control" aria-describedby="seatidHelp" th:attr="id='seatid'+${film.seatId}" th:name="seatId" th:value="${film.seatId.seatId}">
                            <div id="emailHelp" class="form-text">Enter Seat Id.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Film Name</label>
                            <input type="textl" class="form-control" th:attr="id='filmname'+${film.filmName}" th:name="filmName" th:value="${film.filmName}">
                            <div id="emailHelp" class="form-text">Enter Film Name.</div>
                        </div>
                        <div class="mb-3">                               
                            <div class="form-check">
                                <input th:if="${film.isPlaying} == true" th:attr="id='seatid'+${film.seatId}" th:name="isPlaying" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" checked>
                                <input th:unless="${film.isPlaying} == true" th:attr="id='seatid'+${film.seatId}" th:name="isPlaying" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                                <label class="form-check-label" for="exampleRadios1">
                                  Tayang
                                </label>
                              </div>
                              <div class="form-check">
                                <input th:if="${film.isPlaying} == false" th:attr="id='seatid'+${film.seatId}" th:name="isPlaying" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" checked>
                                <input th:unless="${film.isPlaying} == false" th:attr="id='seatid'+${film.seatId}" th:name="isPlaying" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                                <label class="form-check-label" for="exampleRadios2">
                                  Tidak Tayang
                                </label>
                            </div>
                    
                        
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </form>
            </th:block>
        </div>
                   

        <!-- Delete Modal -->
        <div th:replace="fragments/modal :: delete(tittle='Delete Schedule', form=~{this::#edit-form}, loop='film', entity=${films}, id='filmCode')">
            <th:block id="delete-form">
                <form th:method="delete" th:action="@{/delete/film/} + ${film.filmCode}">
                    <div class="modal-body">
                        <span>Are you sure you want to delete schedule with Id</span>
                        <span th:text="${film.filmCode}"></span>
                        <span>?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Yes
                        </button>
                    </div>
                </form>
            </th:block>
        </div>

        <!-- Create Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered
            modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New films</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" th:action="@{/create/film}" th:object="${newFilm}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inputfilmcode" class="form-label">Films Code</label>
                            <input type="text" class="form-control" id="inputfilmcode" aria-describedby="filmnameHelp" th:field="*{filmCode}">
                            <div id="emailHelp" class="form-text">films code must be unique.</div>
                        </div>
                        <div class="mb-3">
                            <label for="inputfilmname" class="form-label">Film Name</label>
                            <input type="text" class="form-control" id="inputfilmname" aria-describedby="filmnameHelp" th:field="*{filmName}">
                            <div id="enterfilmname" class="form-text">Enter Film Name</div>
                        </div>
                        <div class="mb-3">
                            <label for="inputseatid" class="form-label">Seat Id</label>
                            <select class="form-select" th:field="*{seatId}" aria-label="Default select example">
                                <!-- <option th:each="seat : ${seats}" th:text="${seat.seatId}" th:value="${seat.seatId}"></option> -->
                                <option th:each="seat:${seats}" th:text="${seat.seatId}" th:value="${seat.seatId}"></option>

                              </select>
                            <!-- <input type="text" class="form-control" id="inputfilmname" aria-describedby="filmnameHelp" th:field="*{filmName}"> -->
                            <div id="enterfilmname" class="form-text">Enter Film Name</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
        </div>


        <!-- Print Table -->
        <div th:replace="fragments/extra :: print(head=~{this::#print-head}, body=~{this::#print-body}, loop='film', entity=${films})">
            <th:block id="print-head">
                <th class="text-center" scope="col">Film Code</th>
                <th class="text-center" scope="col">Film Name</th>
                <th class="text-center" scope="col">Playing</th>
            </th:block>
            <th:block id="print-body">
                <th scope="row" th:text="${iter.index + 1}"></th>
                <td>
                    <a class="text-lowercase text-dark" style="text-decoration:none;" th:href="'#showModal'+${film.filmCode}" th:text="${film.filmName}" data-bs-toggle="modal" th:attr="data-bs-target='#showModal'+${film.filmCode}"></a>
                </td>
                <td th:text="${film.isPlaying}"></td>
            </th:block>
        </div>
    </div>
    <footer th:replace="fragments/footer :: crud">

    </footer>
   </body>
</html>