<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: common(~{::title},~{})">
        <title>Bioskop | Films CRUD</title>
    </head>
    <body>
    <div th:replace="fragments/navigation :: main"></div>
    <div class="container">

        <!-- Content -->
        <div class="d-flex border px-5 rounded my-3" style="background-color: #ededed;">
            <div class="col mt-3 mx-auto">
                <!-- Tittle -->
                <div th:replace="fragments/content :: tittle('Films')">
                </div>

                <!-- Action menu -->
                <div th:replace="fragments/content :: action-menu('films')">
                    
                </div>

                <!-- Tables -->
                <div th:replace="fragments/content :: table(head=~{this::#table-head}, data=~{::#data}, loop='film', entity=${films}, id='filmCode')" th:with="id=${film.filmCode}" th:remove="tag">
                    <div id="table-head">
                        <th class="text-center" scope="col">No.</th>
                        <th class="text-center" scope="col">Film Code</th>
                        <th class="text-center" scope="col">
                            <div class="row">
                                <div class="col">
                                    Film Name
                                </div>
                                <div class="col-1">
                                    <th:block th:replace="fragments/content :: sort(sorting='filmName', action='films')">
                                </div>
                            </div>
                        <th class="text-center" scope="col">Seat</th>
                        <th class="text-center" scope="col">Playing</th>
                    </div>

                    <div id="data">
                        <td class="text-center" scope="row" th:text="${iter.index + 1 + ((currentPage-1)*10)}"></td>
                    
                        <td>
                            <a class="text-lowercase text-dark" style="text-decoration:none;" th:href="'#showModal'+${film.filmCode}" th:text="${film.filmCode}" data-bs-toggle="modal" th:attr="data-bs-target='#showModal'+${film.filmCode}"></a>
                        </td>
                        <td th:text="${film.filmName}"></td>
                        <td th:text="${film.seatId.seatId}"></td>
                        <td th:text="${film.isPlaying} ? 'Tayang' : 'Tidak Tayang'"></td>
                    </div>
                </div>
                <!-- Pagination -->
            <th:block th:replace="fragments/content :: pagination('films')"></th:block>
            </div>
        </div>

        <!-- Modals -->

        <!-- Edit Modal -->
        <div th:replace="fragments/modal :: edit(tittle='Edit Film', form=~{this::#edit-form}, loop='film', entity=${films}, id='filmCode')">
            <th:block id="edit-form">
                <form th:method="PUT" th:action="@{/update/film/} + ${film.filmCode}" th:object="${updateFilm}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail" class="form-label">Film Code</label>
                            <input type="text" class="form-control" aria-describedby="filmNameHelp" th:attr="id='filmName'+${film.filmCode}" th:name="filmCode" th:value="${film.filmCode}">
                            <div id="emailHelp" class="form-text">film code must be unique.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Seat Id</label>
                            <input type="textl" class="form-control" aria-describedby="seatidHelp" th:attr="id='seatid'+${film.seatId}" th:name="seatId" th:value="${film.seatId.seatId}">
                            <div id="emailHelp" class="form-text">Enter Seat Id.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Film Name</label>
                            <input type="textl" class="form-control" th:attr="id='filmname'+${film.filmName}" th:name="filmName" th:value="${film.filmName}">
                            <div id="emailHelp" class="form-text">Enter Film Name.</div>
                        </div>
                        <div class="mb-3">
                           
                                <div class="form-check">
                                    <input th:if="${film.isPlaying} == true" th:attr="id='seatid'+${film.seatId}" th:name="isPlaying" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" checked>
                                    <input th:unless="${film.isPlaying} == true" th:attr="id='seatid'+${film.seatId}" th:name="isPlaying" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                                    <label class="form-check-label" for="exampleRadios1">
                                      Tayang
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input th:if="${film.isPlaying} == false" th:attr="id='seatid'+${film.seatId}" th:name="isPlaying" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" checked>
                                    <input th:unless="${film.isPlaying} == false" th:attr="id='seatid'+${film.seatId}" th:name="isPlaying" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1">
                                    <label class="form-check-label" for="exampleRadios2">
                                      Tidak Tayang
                                    </label>
                                </div>
                        
                            <div id="emailHelp" class="form-text">Enter Is Playing.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </th:block>
        </div>
                   

        <!-- Delete Modal -->
        <div th:replace="fragments/modal :: delete(tittle='Delete Films', form=~{this::#delete-form}, loop='film', entity=${films}, id='filmCode')">
            <th:block id="delete-form">
                <form th:method="delete" th:action="@{/delete/film/} + ${film.filmCode}">
                    <div class="modal-body">
                        <span>Are you sure you you want to delete </span>
                        <span th:text="${film.filmCode}"></span>
                        <span>?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </form>
            </th:block>
        </div>

        <!-- Create Modal -->
        <div th:replace="fragments/modal :: create(tittle='Create Film', form=~{this::#create-form})">
            <th:block id="create-form">
                <form method="post" th:action="@{/create/film}" th:object="${newFilm}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inputfilmcode" class="form-label">Films Code</label>
                            <input type="text" class="form-control" id="inputfilmcode" aria-describedby="filmnameHelp" th:field="*{filmCode}">
                            <div id="emailHelp" class="form-text">films code must be unique.</div>
                        </div>
                        <div class="mb-3">
                            <label for="inputfilmname" class="form-label">Film Name</label>
                            <input type="text" class="form-control" id="inputfilmname" aria-describedby="filmnameHelp" th:field="*{filmName}">
                            <div id="enterfilmname" class="form-text">Enter Film Name</div>
                        </div>
                        <div class="mb-3">
                            <label for="inputseatid" class="form-label">Seat Id</label>
                            <select class="form-select" th:field="*{seatId}" aria-label="Default select example">
                                <!-- <option th:each="seat : ${seats}" th:text="${seat.seatId}" th:value="${seat.seatId}"></option> -->
                                <option th:each="seat:${seats}" th:text="${seat.seatId}" th:value="${seat.seatId}"></option>

                              </select>
                            <!-- <input type="text" class="form-control" id="inputfilmname" aria-describedby="filmnameHelp" th:field="*{filmName}"> -->
                            <div id="enterfilmname" class="form-text">Enter Film Name</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </th:block>
        </div>
    
        <!-- Get One -->
        <div th:replace="fragments/modal :: get(tittle='Film Detail', form=~{this::#getone-form}, loop='film', entity=${films}, id='filmCode')">
            <th:block id="getone-form">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th scope="row">Film Code</th>
                            <td th:text="${film.filmCode}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Seat Id</th>
                            <td th:text="${film.seatId.seatId}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Film Name</th>
                            <td th:text="${film.filmName}"></td>
                        </tr>
                        
                    </tbody>
                </table>
            </th:block>
        </div>

        <!-- Print Table -->
        <div th:replace="fragments/extra :: print(head=~{this::#print-head}, body=~{this::#print-body}, loop='film', entity=${films})">
            <th:block id="print-head">
                <th class="text-center" scope="col">No.</th>
                <th class="text-center" scope="col">Film Code</th>
                <th class="text-center" scope="col">Film Name</th>
                <th class="text-center" scope="col">Playing</th>
            </th:block>
            <th:block id="print-body">
                <th scope="row" th:text="${iter.index + 1}"></th>
                <th scope="row" th:text="${film.filmCode}"></th>
                <td>
                    <a class="text-lowercase text-dark" style="text-decoration:none;" th:href="'#showModal'+${film.filmCode}" th:text="${film.filmName}" data-bs-toggle="modal" th:attr="data-bs-target='#showModal'+${film.filmCode}"></a>
                </td>
                <td th:text="${film.isPlaying}"></td>
            </th:block>
        </div>
    </div>
    <footer th:replace="fragments/footer :: crud">

    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <script th:src="@{/styles/js/print.min.js}"></script>
   </body>
</html>