<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">

<h1>SAMPLE DEPLOYMENT USING .JAR FILE</h1>
<p>GET THE DATA : https://jar-experiment.herokuapp.com/staffs</p>
<p>POST THE DATA : https://jar-experiment.herokuapp.com/staff</p>
<p>JSON FORMAT : <br><span>{ <br> "firstName" : "string", <br>
                                "lastName" : "string",<br>
                                "email" : "string" <br> }</span></p>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>