<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: common(~{::title},~{})">
        <title>Bioskop | Reservations CRUD</title>
    </head>
    <body>
        <div th:replace="fragments/navigation :: main"></div>

        <div class="container">

            <!-- Content -->
            <div class="d-flex border px-5 rounded my-3" style="background-color: #ededed;">
                <div class="col mt-3 mx-auto">
                    <!-- Tittle -->
                    <div th:replace="fragments/content :: tittle('Reservations')">
                    </div>

                    <!-- Action menu -->
                    <div th:replace="fragments/content :: action-menu(~{::li})">
                        <li><a class="dropdown-item" href="#">User</a></li>
                        <li><a class="dropdown-item" href="#">Film</a></li>
                        <li><a class="dropdown-item" href="#">Last updated</a></li>
                    </div>

                    <!-- Tables -->
                    <div th:replace="fragments/content :: table(head=~{this::#table-head}, data=~{::#data}, loop='reservation', entity=${reservations}, id='reservationId')" th:with="id=${reservation.reservationId}" th:remove="tag">
                        <div id="table-head">
                            <th class="text-center" scope="col">No.</th>
                            <th class="text-center" scope="col">User</th>
                            <th class="text-center" scope="col">Schedule</th>
                            <th class="text-center" scope="col">Active</th>
                        </div>

                        <div id="data">
                            <th class="text-center" th:text="${iter.index+1}"></th>
                            <td class="text-lowercase text-center">
                                <a class="text-dark" style="text-decoration:none;" th:text="${reservation.users.username}" th:href="'#showModal'+${reservation.reservationId}" data-bs-toggle="modal" th:attr="data-bs-target='#showModal'+${reservation.reservationId}"></a>
                            </td>
                            <td class="text-center" th:text="${reservation.schedule.scheduleId}"></td>
                            <td th:if="${reservation.isActive}==true" class="text-center">v</td>
                            <td th:unless="${reservation.isActive}==true" class="text-center"></td>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Modal -->
            <div th:replace="fragments/modal :: edit(tittle='Edit Reservation', form=~{this::#edit-form}, loop='reservation', entity=${reservations}, id='reservationId')"> 
                <th:block id="edit-form">
                    <form th:method="put" th:action="@{/update/reservation/} + ${reservation.reservationId}" th:object="${newReserv}">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="exampleInputEmail" class="form-label">User</label>
                                <select class="form-select" th:field="*{users}" aria-label="Default select example">
                                    <option th:each="user : ${users}" th:if="${user.userId}==${reservation.users.userId}" th:value="${user.userId}" th:text="${user.userId}+ ' ' +${user.username}" selected></option>
                                    <option th:each="user : ${users}" th:unless="${user.userId}==${reservation.users.userId}" th:value="${user.userId}" th:text="${user.userId}+ ' ' +${user.username}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Schedule</label>
                                <select class="form-select" th:field="*{schedule}" aria-label="Default select example">
                                    <option th:each="schedule : ${schedules}" th:if="${schedule.scheduleId}==${reservation.schedule.scheduleId}" th:value="${schedule.scheduleId}" th:text="${schedule.scheduleId} + ' ' + ${schedule.films.filmName}" selected></option>
                                    <option th:each="schedule : ${schedules}" th:unless="${schedule.scheduleId}==${reservation.schedule.scheduleId}" th:value="${schedule.scheduleId}" th:text="${schedule.scheduleId} + ' ' + ${schedule.films.filmName}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input name="isActive" th:checked="reservation.isActive" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </th:block>
            </div>

            <!-- Delete Modal -->
            <div th:replace="fragments/modal :: delete(tittle='Delete Reservation', form=~{this::#delete-form}, loop='reservation', entity=${reservations}, id='reservationId')">
                <th:block id="delete-form">
                    <form th:method="delete" th:action="@{/delete/reservation/} + ${reservation.reservationId}">
                        <div class="modal-body">
                            <span>Are you sure you you want to delete </span>
                            <span th:text="${reservation.reservationId}"></span>
                            <span>?</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Yes</button>
                        </div>
                    </form>
                </th:block>
            </div>

            <!-- Create Modal -->
            <div th:replace="fragments/modal :: create(tittle='Create Reservation', form=~{this::#create-form})">
                <th:block id="create-form">
                    <form method="post" th:action="@{/create/reservation}" th:object="${newReservation}">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="exampleInputEmail" class="form-label">User</label>
                                <select class="form-select" th:field="*{users}" aria-label="Default select example">
                                    <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.userId}+ ' ' +${user.username}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Schedule</label>
                                <select class="form-select" th:field="*{schedule}" aria-label="Default select example">
                                    <option th:each="schedule : ${schedules}" th:value="${schedule.scheduleId}" th:text="${schedule.scheduleId} + ' ' + ${schedule.films.filmName}"></option>
                                </select>
                            </div>
                            <div class="form-check form-switch">
                                <input name="isActive" th:checked="isActive" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </th:block>
            </div>

            <!-- Get One Modal -->
            <div th:replace="fragments/modal :: get(tittle='Reservation Detail', form=~{this::#getone-form}, loop='reservation', entity=${reservations}, id='reservationId')">
                <th:block id="getone-form">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th scope="row">User</th>
                                <td th:text="${reservation.users.userId} + ' ' + ${reservation.users.username}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Schedule</th>
                                <td th:text="${reservation.schedule.scheduleId} + ' ' + ${reservation.schedule.films.filmName}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Studio</th>
                                <td th:text="${reservation.schedule.films.seatId.studioName}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Kursi</th>
                                <td th:text="${reservation.schedule.films.seatId.barisKursi}+ ${reservation.schedule.films.seatId.nomorKursi}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Date</th>
                                <td th:text="${reservation.schedule.tanggalTayang}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Time</th>
                                <td th:text="${reservation.schedule.jamMulai} + '-' + ${reservation.schedule.jamSelesai}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Active</th>
                                <td >
                                    <button th:if="${reservation.isActive} == true" type="button" class="btn btn-success" disabled>Active</button>
                                    <button th:unless="${reservation.isActive} == true" type="button" class="btn btn-danger" disabled>Expired</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">createdAt</th>
                                <td th:text="${#temporals.format(reservation.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th scope="row">updatedAt</th>
                                <td th:text="${#temporals.format(reservation.updatedAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>

            <!-- Extras -->

            <!-- Print Table -->
            <div th:replace="fragments/extra :: print(head=~{this::#print-head}, body=~{this::#print-body}, loop='reservation', entity=${reservations})">
                <th:block id="print-head">
                    <th class="text-center" scope="col">No.</th>
                    <th class="text-center" scope="col">User</th>
                    <th class="text-center" scope="col">Schedule</th>
                    <th class="text-center" scope="col">Active</th>
                    <th class="text-center" scope="col">Created At</th>
                    <th class="text-center" scope="col">Updated At</th>
                </th:block>
                <th:block id="print-body">
                    <th class="text-center" th:text="${iter.index+1}"></th>
                    <td class="text-lowercase" th:text="${reservation.users.username}"></td>
                    <td class="text-center" th:text="${reservation.schedule.scheduleId}"></td>
                    <td th:if="${reservation.isActive}==true" class="text-center">v</td>
                    <td th:unless="${reservation.isActive}==true" class="text-center"></td>
                    <td class="text-center" th:text="${#temporals.format(reservation.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td class="text-center" th:text="${#temporals.format(reservation.updatedAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </th:block>
            </div>
        </div>

        <footer th:replace="fragments/footer :: crud">

        </footer>
    </body>
</html>