<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common(~{::title},~{this::#additional})">
    <title>Bioskop | Schedule CRUD</title>
    <th:block id="additional">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <script th:src="@{/styles/js/print.min.js}"></script>
    </th:block>
</head>
<body>
<div th:replace="fragments/navigation :: main"></div>

<div class="container">

    <!-- Content -->
    <div class="d-flex border px-5 rounded my-3" style="background-color: #ededed;">
        <div class="col mt-3 mx-auto">
            <!-- Tittle -->
            <div th:replace="fragments/content :: tittle('Schedule')">
            </div>

            <!-- Action menu -->
            <div th:replace="fragments/content :: action-menu('schedule')">

            </div>

            <!-- Tables -->
            <div th:replace="fragments/content :: table(head=~{this::#table-head}, data=~{::#data}, loop='schedule', entity=${schedules}, id='scheduleId')" th:with="id=${schedule.scheduleId}" th:remove="tag">
                <div id="table-head">
                    <th class="text-center" scope="col">No.</th>
                    <th scope="col">
                        <div class="row">
                            <div class="text-center col me-auto">
                                Film Name
                            </div>
                            <div class="col-auto">
                                <th:block th:replace="fragments/content :: sort(sorting='films.filmName',action='schedule')"></th:block>
                            </div>
                        </div>
                    </th>

                    <th scope="col">
                        <div class="row">
                            <div class="text-center col me-auto">
                                Show Date
                            </div>
                            <div class="col-auto">
                                <th:block th:replace="fragments/content :: sort(sorting='tanggalTayang',action='schedule')"></th:block>
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="row">
                            <div class="text-center col me-auto">
                                Time
                            </div>
                            <div class="col-auto">
                                <th:block th:replace="fragments/content :: sort(sorting='jamMulai',action='schedule')"></th:block>
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="row">
                            <div class="text-center col me-auto">
                                Price
                            </div>
                            <div class="col-auto">
                                <th:block th:replace="fragments/content :: sort(sorting='hargaTiket',action='schedule')"></th:block>
                            </div>
                        </div>
                    </th>
                </div>

                <div id="data">
                    <td class="text-center" scope="row" th:text="${iter.index + 1 + ((currentPage-1)*10)}"></td>
                    <td>
                        <a class="text-dark text-capitalize" style="text-decoration:none;" th:href="'#showModal'+${schedule.scheduleId}" th:text="${schedule.films.filmName}" data-bs-toggle="modal" th:attr="data-bs-target='#showModal'+${schedule.scheduleId}"></a>
                    </td>
                    <td class="text-center" th:text="${#temporals.format(schedule.tanggalTayang,'dd-MM-yyyy')}"></td>
                    <td class="text-center">[[${#temporals.format(schedule.jamMulai,'HH:mm')}]] - [[${#temporals.format(schedule.jamSelesai,'HH:mm')}]]</td>
                    <td class="text-center" th:text="Rp + ${#numbers.formatDecimal(schedule.hargaTiket,0, 'POINT', 0, 'COMMA')}"></td>
                </div>
            </div>
            <!-- Pagination -->
            <th:block th:replace="fragments/content :: pagination('schedule')"></th:block>
        </div>
    </div>

    <!-- Edit Modal -->
    <div th:replace="fragments/modal :: edit(tittle='Edit Schedules', form=~{this::#edit-form}, loop='schedule', entity=${schedules}, id='scheduleId')">
        <th:block id="edit-form">
            <form th:method="PUT" th:action="@{/update/schedule/} + ${schedule.scheduleId}" th:object="${updateSchedule}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Film Code</label>
                        <select class="form-select" aria-label="Default select example" th:field="*{films}">
                            <option class="text-capitalize" th:each="film:${films}" th:if="${film.filmCode}==${schedule.films.filmCode}" th:value="${film.filmCode}" th:text="${film.filmCode} + ' ' + ${film.filmName}" selected></option>
                            <option class="text-capitalize" th:each="film:${films}" th:unless="${film.filmCode}==${schedule.films.filmCode}" th:value="${film.filmCode}" th:text="${film.filmCode} + ' ' + ${film.filmName}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Show Date</label>
                        <input id="startDate" class="form-control" type="date" th:name="tanggalTayang" th:value="${#temporals.format(schedule.tanggalTayang,'yyyy-MM-dd')}" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTime" class="form-label">Start Time</label>
                        <input type="time" id="appt" th:name="jamMulai" th:value="${#temporals.format(schedule.jamMulai,'HH:mm')}" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTime" class="form-label">End Time</label>
                        <input type="time" id="appt" th:name="jamSelesai" th:value="${#temporals.format(schedule.jamSelesai,'HH:mm')}" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPrice" class="form-label">Price</label>
                        <input type="number" min="0.00" step="0.05" value="1.00" id="exampleInputAmount" class="form-control" th:value="${schedule.hargaTiket}" th:name="hargaTiket" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </form>
        </th:block>
    </div>

    <!-- Delete Modal -->
    <div th:replace="fragments/modal :: delete(tittle='Delete Schedule', form=~{this::#delete-form}, loop='schedule', entity=${schedules}, id='scheduleId')">
        <th:block id="delete-form">
            <form th:method="delete" th:action="@{/delete/schedule/} + ${schedule.scheduleId}">
                <div class="modal-body">
                    <span>Are you sure you want to delete schedule with Id</span>
                    <span th:text="${schedule.scheduleId}"></span>
                    <span>?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Yes
                    </button>
                </div>
            </form>
        </th:block>
    </div>

    <!-- Create Modal -->
    <div th:replace="fragments/modal :: create(tittle='Create Schedules', form=~{this::#create-form})">
        <th:block id="create-form">
            <form method="post" th:action="@{/create/schedule}" th:object="${newSchedule}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Film Code</label>
                        <select class="form-select" aria-label="Default select example" th:field="*{films}">
                            <option class="text-capitalize" th:each="film:${films}" th:text="${film.filmCode} + ' ' + ${film.filmName}" th:value="${film.filmCode}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Show Date</label>
                        <input id="startDate" class="form-control" type="date" th:field="*{tanggalTayang}" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTime" class="form-label">Start Time</label>
                        <input type="time" id="appt" th:field="*{jamMulai}" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTime" class="form-label">End Time</label>
                        <input type="time" id="appt" th:field="*{jamSelesai}" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPrice" class="form-label">Price</label>
                        <input type="number" min="0.00" step="0.05" value="1.00" id="exampleInputAmount" class="form-control" th:field="*{hargaTiket}" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </form>
        </th:block>
    </div>

    <!-- Get One Modal -->
    <div th:replace="fragments/modal :: get(tittle='Schedules Detail', form=~{this::#getone-form}, loop='schedule', entity=${schedules}, id='scheduleId')">
        <th:block id="getone-form">
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <th scope="row">Films</th>
                    <td class="text-capitalize" th:text="${schedule.films.filmName}"></td>
                </tr>
                <tr>
                    <th scope="row">Show Date</th>
                    <td th:text="${#temporals.format(schedule.tanggalTayang,'dd-MM-yyyy')}"></td>
                </tr>
                <tr>
                    <th scope="row">Start Time</th>
                    <td th:text="${#temporals.format(schedule.jamMulai,'HH:mm')}"></td>
                </tr>
                <tr>
                    <th scope="row">End Time</th>
                    <td th:text="${#temporals.format(schedule.jamSelesai,'HH:mm')}"></td>
                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td th:text="Rp + ${#numbers.formatDecimal(schedule.hargaTiket,0, 'POINT', 0, 'COMMA')}"></td>
                </tr>
                <tr>
                    <th scope="row">createdAt</th>
                    <td th:text="${#temporals.format(schedule.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th scope="row">updatedAt</th>
                    <td th:text="${#temporals.format(schedule.updatedAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                </tbody>
            </table>
        </th:block>
    </div>

    <!-- Extras -->

    <!-- Print Table -->
    <div th:replace="fragments/extra :: print(head=~{this::#print-head}, body=~{this::#print-body}, loop='schedule', entity=${schedules})">
        <th:block id="print-head">
            <th class="text-center" scope="col">No.</th>
            <th class="text-center" scope="col">Film Name</th>
            <th class="text-center" scope="col">Show Date</th>
            <th class="text-center" scope="col">Start Time</th>
            <th class="text-center" scope="col">End Time</th>
            <th class="text-center" scope="col">Price</th>
        </th:block>
        <th:block id="print-body">
            <th class="text-center" scope="row" th:text="${iter.index + 1}"></th>
            <td class="text-capitalize" th:text="${schedule.films.filmName}"></td>
            <td class="text-center" th:text="${#temporals.format(schedule.tanggalTayang,'dd-MM-yyyy')}"></td>
            <td class="text-center" th:text="${#temporals.format(schedule.jamMulai,'HH:mm')}"></td>
            <td class="text-center" th:text="${#temporals.format(schedule.jamSelesai,'HH:mm')}"></td>
            <td class="text-center" th:text="Rp + ${#numbers.formatDecimal(schedule.hargaTiket,0, 'POINT', 0, 'COMMA')}"></td>
        </th:block>
    </div>
</div>

<footer th:replace="fragments/footer :: crud">

</footer>
</body>
</html>