<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common(~{::title},~{this::#additional})">
    <title>Bioskop | Seats CRUD</title>
    <th:block id="additional">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <script th:src="@{/styles/js/print.min.js}"></script>
    </th:block>
</head>
<body>
<div th:replace="fragments/navigation :: main(active='crud')"></div>

<div class="container">

    <!-- Content -->
    <div class="d-flex border px-5 rounded my-3" style="background-color: #ededed;">
        <div class="col mt-3 mx-auto">
            <!-- Tittle -->
            <div th:replace="fragments/content :: tittle('Seats')">
            </div>

            <!-- Action menu -->
            <div th:replace="fragments/content :: action-menu('seats')">
            </div>

            <!-- Tables -->
            <div th:replace="fragments/content :: table(head=~{this::#table-head}, data=~{::#data}, loop='seat', entity=${seats}, id='seatId')" th:with="id=${seat.seatId}" th:remove="tag">
                <div id="table-head">
                    <th class="text-center" scope="col">No.</th>
                    <th scope="col">
                        <div class="row">
                            <div class="text-center col me-auto">
                                Studio Name
                            </div>
                            <div class="col-auto">
                                <th:block th:replace="fragments/content :: sort(sorting='studioName',action='seats')"></th:block>
                            </div>
                        </div>
                    </th>
                    <th class="text-center" scope="col">Kursi</th>
                    <th class="text-center" scope="col">Tersedia</th>
                </div>

                <div id="data">
                    <th class="text-center" scope="row" th:text="${iter.index + 1 + ((currentPage-1)*10)}"></th>
                    <td class="text-center">
                        <a class="text-dark" style="text-decoration:none;" th:href="'#showModal'+${seat.seatId}" th:text="${seat.studioName}" data-bs-toggle="modal" th:attr="data-bs-target='#showModal'+${seat.seatId}"></a>
                    </td>
                    <td class="text-center" th:text="${seat.barisKursi}+${seat.nomorKursi}"></td>
                    <td class="text-center" th:if="${seat.isAvailable}==true">v</td>
                    <td class="text-center" th:unless="${seat.isAvailable}==true"></td>
                </div>
            </div>

            <!-- Pagination -->
            <th:block th:replace="fragments/content :: pagination('seats')"></th:block>
        </div>
    </div>

    <!-- Edit Modal -->
    <div th:replace="fragments/modal :: edit(tittle='Edit Seats', form=~{this::#edit-form}, loop='seat', entity=${seats}, id='seatId')">
        <th:block id="edit-form">
            <form th:method="PUT" th:action="@{/update/seat/} + ${seat.seatId}" th:object="${updateSeats}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">Studio Name</label>
                        <input type="text" class="form-control" aria-describedby="usernameHelp" th:attr="id='studioName'+${seat.seatId}" th:name="studioName" th:value="${seat.studioName}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Baris Kursi</label>
                        <input type="Text" class="form-control" aria-describedby="emailHelp" th:attr="id='barisKursi'+${seat.seatId}" th:name="barisKursi" th:value="${seat.barisKursi}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nomor Kursi</label>
                        <input type="Number" class="form-control" aria-describedby="emailHelp" th:attr="id='nomorKursi'+${seat.seatId}" th:name="nomorKursi" th:value="${seat.nomorKursi}">
                    </div>
                    <div class="mb-3">
                        <input class="form-check-input" type="checkbox" name="isAvailable" id="flexCheckDefault" th:checked="${seat.isAvailable}" >
                        <label for="exampleInputEmail1" class="form-label">Tersedia</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </th:block>
    </div>

    <!-- Delete Modal -->
    <div th:replace="fragments/modal :: delete(tittle='Delete Seats', form=~{this::#delete-form}, loop='seat', entity=${seats}, id='seatId')">
        <th:block id="delete-form">
            <form th:method="delete" th:action="@{/delete/seat/} + ${seat.seatId}">
                <div class="modal-body">
                    <span>Are you sure you you want to delete with Id </span>
                    <span th:text="${seat.seatId}"></span>
                    <span>?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </th:block>
    </div>

    <!-- Create Modal -->
    <div th:replace="fragments/modal :: create(tittle='Create Seats', form=~{this::#create-form})">
        <th:block id="create-form">
            <form method="post" th:action="@{/create/seat}" th:object="${newSeats}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Studio Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="usernameHelp" th:field="*{studioName}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Baris Kursi</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{barisKursi}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nomor Kursi</label>
                        <input type="Number" class="form-control" aria-describedby="emailHelp" th:id="nomorKursi" th:name="nomorKursi" th:value="${nomorKursi}">

                        <!--                            <input type="Number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{nomorKursi}">-->
                    </div>
                    <div class="mb-3">
                        <input class="form-check-input" type="checkbox" name="isAvalaible" id="flexCheckDefault" th:checked="${isAvalaible}" >
                        <label for="exampleInputEmail1" class="form-label">Tersedia</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </th:block>
    </div>

    <!-- Get One Modal -->
    <div th:replace="fragments/modal :: get(tittle='Seats Detail', form=~{this::#getone-form}, loop='seat', entity=${seats}, id='seatId')">
        <th:block id="getone-form">
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <th scope="row">Studio Name</th>
                    <td th:text="${seat.studioName}"></td>
                </tr>
                <tr>
                    <th scope="row">Kursi</th>
                    <td th:text="${seat.barisKursi}+${seat.nomorKursi}"></td>
                </tr>
                <tr>
                    <th scope="row">Tersedia</th>
                    <td th:if="${seat.isAvailable}==true">
                        <a class="btn btn-success disabled" aria-disabled="true" role="button" data-bs-toggle="button">Tersedia</a>
                    </td>
                    <td th:unless="${seat.isAvailable}==true">
                        <a class="btn btn-danger disabled" aria-disabled="true" role="button" data-bs-toggle="button">Tidak Tersedia</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">createdAt</th>
                    <td th:text="${#temporals.format(seat.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th scope="row">updatedAt</th>
                    <td th:text="${#temporals.format(seat.updatedAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
                </tbody>
            </table>
        </th:block>
    </div>

    <!-- Extras -->

    <!-- Print Table -->
    <div th:replace="fragments/extra :: print(head=~{this::#print-head}, body=~{this::#print-body}, loop='seat', entity=${seats})">
        <th:block id="print-head">
            <th class="text-center" scope="col">No.</th>
            <th class="text-center" scope="col">Studio Name</th>
            <th class="text-center" scope="col">Kursi</th>
            <th class="text-center" scope="col">Tersedia</th>
        </th:block>
        <th:block id="print-body">
            <th class="text-center" scope="row" th:text="${iter.index + 1}"></th>
            <td class="text-center">
                <a class="text-white" style="text-decoration:none;" th:href="'#showModal'+${seat.seatId}" th:text="${seat.studioName}" data-bs-toggle="modal" th:attr="data-bs-target='#showModal'+${seat.seatId}"></a>
            </td>
            <td class="text-center" th:text="${seat.barisKursi}+${seat.nomorKursi}"></td>
            <td class="text-center" th:if="${seat.isAvailable}==true">v</td>
            <td class="text-center" th:unless="${seat.isAvailable}==true"></td>
        </th:block>
    </div>
</div>

<footer th:replace="fragments/footer :: crud">

</footer>
</body>
</html>