<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: common(~{::title},~{this::#additional})">
        <title>Bioskop | Users CRUD</title>
        <th:block id="additional">
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
            <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
            <script th:src="@{/styles/js/print.min.js}"></script>
        </th:block>
    </head>
    <body>
        <div th:replace="fragments/navigation :: main"></div>

        <div class="container">

            <!-- Content -->
            <div class="d-flex border px-5 rounded my-3" style="background-color: #ededed; height: 650px;">
                <div class="col mt-3 mx-auto">
                    <!-- Tittle -->
                    <div th:replace="fragments/content :: tittle('Users')">
                    </div>

                    <!-- Action menu -->
                    <div th:replace="fragments/content :: action-menu('users')">
                    </div>

                    <!-- Tables -->
                    <div th:replace="fragments/content :: table(head=~{this::#table-head}, data=~{::#data}, loop='user', entity=${users}, id='userId')" th:with="id=${user.userId}" th:remove="tag">
                        <th:block id="table-head">
                            <th class="text-center" scope="col">No.</th>
                            <th scope="col">
                                <div class="row m-0">
                                    <div class="text-center col">
                                        Username
                                    </div>
                                    <div class="col-1">
                                        <th:block th:replace="fragments/content :: sort(sorting='username',action='users')"></th:block>
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="row">
                                    <div class="text-center col">
                                        Email Address
                                    </div>
                                    <div class="col-1">
                                        <th:block th:replace="fragments/content :: sort(sorting='emailAddress', action='users')"></th:block>
                                    </div>
                                </div>
                            </th>
                        </th:block>

                        <th:block id="data">
                            <th scope="row" th:text="${iter.index + 1}"></th>
                            <td>
                                <a class="text-lowercase text-dark" style="text-decoration:none;" th:href="'#showModal'+${user.userId}" th:text="${user.username}" data-bs-toggle="modal" th:attr="data-bs-target='#showModal'+${user.userId}"></a>
                            </td>
                            <td th:text="${user.emailAddress}"></td>
                        </th:block>
                    </div>

                    <!-- Pagination -->
                    <th:block th:replace="fragments/content :: pagination('users')"></th:block>
                </div>
            </div>

            <!-- Modals -->

            <!-- Edit Modal -->
            <div th:replace="fragments/modal :: edit(tittle='Edit User', form=~{this::#edit-form}, loop='user', entity=${users}, id='userId')"> 
                <th:block id="edit-form">
                    <form th:method="PUT" th:action="@{/update/user/} + ${user.userId}" th:object="${updateUser}">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="exampleInputEmail" class="form-label">Username</label>
                                <input type="text" class="form-control" aria-describedby="usernameHelp" th:attr="id='username'+${user.userId}" th:name="username" th:value="${user.username}">
                                <div id="emailHelp" class="form-text">Username must be unique.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" aria-describedby="emailHelp" th:attr="id='username'+${user.userId}" th:name="emailAddress" th:value="${user.emailAddress}">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </th:block>
            </div>

            <!-- Delete Modal -->
            <div th:replace="fragments/modal :: delete(tittle='Delete User', form=~{this::#delete-form}, loop='user', entity=${users}, id='userId')">
                <th:block id="delete-form">
                    <form th:method="delete" th:action="@{/delete/user/} + ${user.userId}">
                        <div class="modal-body">
                            <span>Are you sure you you want to delete </span>
                            <span th:text="${user.username}"></span>
                            <span>?</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Yes</button>
                        </div>
                    </form>
                </th:block>
            </div>

            <!-- Create Modal -->
            <div th:replace="fragments/modal :: create(tittle='Create User', form=~{this::#create-form})">
                <th:block id="create-form">
                    <form method="post" th:action="@{/create/user}" th:object="${newUser}">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Username</label>
                                <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="usernameHelp" th:field="*{username}">
                                <div id="emailHelp" class="form-text">Username must be unique.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{emailAddress}">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword" th:field="*{password}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </th:block>
            </div>

            <!-- Get One Modal -->
            <div th:replace="fragments/modal :: get(tittle='User Detail', form=~{this::#getone-form}, loop='user', entity=${users}, id='userId')">
                <th:block id="getone-form">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th scope="row">Username</th>
                                <td th:text="${user.username}"></td>
                            </tr>
                            <tr>
                                <th scope="row">emailAddress</th>
                                <td th:text="${user.emailAddress}"></td>
                            </tr>
                            <tr>
                                <th scope="row">createdAt</th>
                                <td th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                            </tr>
                            <tr>
                                <th scope="row">updatedAt</th>
                                <td th:text="${#temporals.format(user.updatedAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>

            <!-- Extras -->

            <!-- Print Table -->
            <div th:replace="fragments/extra :: print(head=~{this::#print-head}, body=~{this::#print-body}, loop='user', entity=${users})">
                <th:block id="print-head">
                    <th class="text-center" scope="col">No.</th>
                    <th class="text-center" scope="col">Username</th>
                    <th class="text-center" scope="col">Email Address</th>
                </th:block>
                <th:block id="print-body">
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td>
                        <a class="text-lowercase text-dark" style="text-decoration:none;" th:href="'#showModal'+${user.userId}" th:text="${user.username}" data-bs-toggle="modal" th:attr="data-bs-target='#showModal'+${user.userId}"></a>
                    </td>
                    <td th:text="${user.emailAddress}"></td>
                </th:block>
            </div>
        </div>

        <footer th:replace="fragments/footer :: crud">

        </footer>
    </body>
</html>